<?xml version='1.0' encoding='utf-8'?>
<Context>
  <Resource name='jdbc/rwt' auth='Container' type='javax.sql.DataSource'
    maxActive='5' maxIdle='20' maxWait='10000'
    driverClassName='org.postgresql.Driver'
    username='test' password='test' url='jdbc:postgresql:spt' />
  <!-- ResourceLink name='jdbc/rwt' global='jdbc/rwt' type='javax.sql.DataSource' / -->
</Context>
